// COLOR PALETTE
@background: #F5F5F5;
@foreground: #bdbdbd;
/* BLUES */


/* Color Material */
@blueGrey-900: #263238;
@indigo-900: #1a237e;
@lightGreen-900: #33691e;
@grey-900: #212121;
@Grey-200: #EEEEEE;
@grey-400: #bdbdbd;
@grey-500: #9e9e9e;
@grey-600: #757575;
@grey-700:#616161;
@grey-800: #424242;
@red-500: #f44336;
@red-50:#ffebee;

/* ACCENTS */
@yellow-A200: #FFFF8D;
@red-A400: #ff1744;
@blue-A400: #2979ff;
@lightGreen-A400: #76ff03;

@green-500: #4caf50;
@green-900: #1b5e20;
@yellow-500: #ffeb3b;
@purple-300: #ba68c8;
@deepPurple-400: #7e57c2;
@teal-50: #e0f2f1;
@teal-500: #009688;
@teal-600: #00897b;
@deepOrange-50: #fbe9e7;
@deepOrange-400: #ff7043;
@deepOrange-500: #ff5722;
@deepOrange-600: #f4511e;
@deepOrange-700: #e64a19;
@deepOrange-800: #d84315;
@white: #ffffff;
@black: #000000;

/*
********************************************
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
********************************************
*/

// STYLING


.CodeMirror, .CodeMirror-scroll {
    /* Editor area **************************************************************/
    background-color: @background;
    color: @lightGreen-900;
}

#editor-holder .CodeMirror,
#editor-holder .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.cm-tag.cm-bracket {
    color: @teal-600;
    text-shadow: 0.1px 0.1px @teal-50;
    /* <> & </> ***********************************/ 
}


.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
    box-shadow: inset 15px 0 0 0 #000;
}

.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-gutter-elt {
        background: rgba(0, 0, 0, 0.2); color: #000;
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: @grey-800;
    }
}
 
/** atributos  **/
.cm-atom,
.cm-string,
.cm-string-2,
.cm-hr {
    color: @deepOrange-500;
}

.cm-attribute,
.cm-plus {
    color: @deepOrange-700;
    text-shadow: 0.1px 0.1px @deepOrange-50;
}

.cm-strong { color: @yellow-500; }
.cm-em { color: @yellow-500; }

/* (numeros, mediadas) */
.cm-number {
    color: @grey-900; font-family: 'Roboto', sans-serif;
}

/* css properties color: etc */
.cm-def,
.cm-property {
    color: @deepOrange-800; 
}


.cm-variable,
.cm-operator,
.cm-meta,
.cm-bracket {
    color: @grey-500;
}

.cm-variable-2 { color: @grey-600;}
.cm-variable-3 { color: @grey-400;}

 /* comentario // **/
.cm-comment { color: @grey-500; }

/* various **/
.cm-header { color: @purple-300;}
.cm-link {
    color: @yellow-500;
    text-decoration: none;
}

.cm-error,
.cm-minus { color: @red-A400;
}

.cm-rangeinfo { color: @deepPurple-400;}

.cm-keyword,
.cm-qualifier,
.cm-builtin,
.cm-tag,
.cm-quote {
    color: @teal-600;
}


// EXTRA CSS 
.CodeMirror-searching {
    background-color: @yellow-500;
    &.searching-current-match {
        background-color: @green-500;
    }
}
.CodeMirror-cursor {
    border-left: 1px solid #000 !important;
}
.CodeMirror-gutters {
    background-color: @background;
    border-right: none;
}

 /***** numeración de cada linea ******/
.CodeMirror-linenumber { color: @grey-700; }

/* Selección de texto 1 o más / off **/
.CodeMirror .CodeMirror-selected {
    background: @yellow-500;
}

/***** seleccion de texto / on **/
.CodeMirror-focused .CodeMirror-selected {
    background: @grey-800;
    border-bottom-left-radius: 3px;
}


/* highlight for the active line (View > Highlight Active Line) (linea de seleccion) */
.CodeMirror-focused .CodeMirror-activeline-background {
    background: @red-50;
    border-left: 2px solid @red-A400;
}

/*****  seleccion de corchetes ***************************************/
.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
    background-color: transparent;
    border-bottom: 2px solid @red-A400;
    color: @green-500;
}

/***** corchetes en seleccion ***************************************/
.CodeMirror-matchingbracket {
    color: @Grey-200!important; padding-left: 7px; padding-right: 7px;
    font-size: 20px;
    background: @red-A400; border-radius: 50%;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 1px solid #000;
}

.CodeMirror {
    .CodeMirror {
        background: transparent;
    }
    .CodeMirror .CodeMirror-gutters {
        background: transparent;
        border-right: none;
    }
    .CodeMirror .CodeMirror-activeline-background {
        background: transparent;
    }
    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
        background: transparent;
        color: @grey-800;
    }
    .CodeMirror-focused .CodeMirror-activeline-background {
        background: @indigo-900;
    }
    .CodeMirror-focused .CodeMirror-activeline {
        .CodeMirror-gutter-elt {
            background: rgba(0, 0, 0, 0.2);
            color: @grey-400;
        }
    }
}

.CodeMirror-foldgutter-open:after {
    color: @grey-800;
}

.CodeMirror-foldgutter-folded:after {
    color: @deepOrange-800;
}

.CodeMirror.over-gutter,
.CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
        color: @grey-800;
    }
}

.CodeMirror-foldmarker {
    border-color: @foreground;
    color: @grey-500;
    background-color: @background;
    padding: 0 5px;
}

/* NON-EDITOR STYLING */
.image-view,
.not-editor { 
    background-color: @background;
}

.view-pane .image-view {
    color: @grey-500;
}

/*.cm-m-css: CSS, LESS *****************************************************************/
.cm-m-css.cm-tag {
    color: @green-900;
}
.cm-matchhighlight    { border-bottom-color: @red-A400; }
.quick-view-highlight {
    background: @blueGrey-900;
}

/*.cm-m-javascript: JavaScript *********************************************************/

/*.cm-m-clike: PHP *********************************************************************/
.cm-m-clike.cm-variable { color: @grey-400;}
.cm-m-clike.cm-variable-2 { color: @deepOrange-800;}
.cm-m-clike.cm-operator { color: @grey-500;}